
body {
    
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-areas:
    "head head head"
    "left main side"
    "left middle side"
    "footer footer footer";
    justify-content: space-between;
}



.esquedo {
    grid-area: left;
    background-color: blue;

}

.direito    {
    grid-area: head;
    background-color: red;
}

.centro {
    grid-area: main;
    background-color: green;
}


.outros {
    grid-area: middle;
    background-color: pink;
}

.rodapé {
    grid-area: footer;
    background-color: orange;
}
