body {
    
    margin: 2px;
    display: grid;
    grid-template-areas:
    "head head head"
    "left main side"
    "left middle side"
    "footer footer footer";
}



.esquedo {
    grid-area: left;
    background-color: blue;
    display: flex;
}

.direito    {
    grid-area: head;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: 700;
    font-style: italic;
}

.centro {
    grid-area: main;
    background-color: green;
    display: flex;
}


.outros {
    grid-area: middle;
    background-color: pink;
    display: flex;
}

.rodapé {
    grid-area: footer;
    background-color: orange;
    height: 75px;
    
}
